# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*

# Environment variables
.env
.env.local
.env.*.local

# Build outputs
dist/
build/
out/
.vite/

# IDE and editor files
.vscode/
.idea/
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
*.swp
*.swo
*.bak

# Frontend specific
/frontend/public/vite.svg
/frontend/public/img/law-office.jpg
/frontend/src/assets/react.svg

# Backend specific
/backend/uploads/